%h1 Listing posts

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - collection.each do |post|
    %tr
      %td= link_to post.title, post
      %td= post.body
      %td= edit_link post
      %td= destroy_link post

%br

= create_link Post
