- @title = resource.title

#posts
  .post
    %h2= resource.title
    .details= time_ago_in_words(resource.created_at) + ' ago'
    .body=raw(RuBB.to_html(resource.body))

  %p
    - if can? :update, resource
      = link_to 'Edit', edit_resource_url(resource) |
    - if can? :delete, resource
      = link_to 'Delete', resource, :method => :delete, :confirm => "Are you sure?" |
    = link_to 'Back', collection_url

