- @title = @post.title

#posts
  .post
    %h2= @post.title
    .details= time_ago_in_words(@post.created_at) + ' ago'
    .body=raw(RuBB.to_html(@post.body))

  %p
    - if can? :update, @post
      = link_to 'Edit', edit_post_path(@post) |
    - if can? :delete, @post
      = link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?" | 
    = link_to 'Back', posts_path

