- @title = resource.name

#show
  .post
    .title= resource.name
    .date= "Category: " + resource.category
    .date= "Subcategory: " + resource.subcategory
    .body
      %b Description:
      %br/
      = resource.description
      %br/
      %br/
      %b Leechers:
      #{resource.stats[0]}
      %b Seeders:
      #{resource.stats[1]}
      %br/
      %br/
      %h3
        %b File list:
      - resource.files.each do |file|
        = file["path"][0].to_s + " => " + number_to_human_size(file["length"],
        :precision => 2)
        %br/
      %br/
      = link_to 'Download', resource.torrent.url
    .details
      .author Posted by #{resource.user.username}
      = link_to 'Destroy', resource,
      :confirm => 'Are you sure?', :method => :delete

