!!!
%html
  %head
    %title= [@title, "EasyBt"].compact.join(" | ")

    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print',  :media => 'print'
    = stylesheet_link_tag 'formtastic'

    /[if lt IE 8]
      = stylesheet_link_tag 'ie',   :media => 'screen, projection'

    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    #container
      #header
        =link_to 'Easy Bittorrent', "/"

      %ul#headmenu
        %li= link_to 'Main', "/"
        %li= link_to 'News', posts_path
        %li= link_to 'Categories', releases_path
        %li= link_to 'Upload', "/releases/new"
        %li= link_to 'Help', "/#"
        %li= link_to 'About', page_path("about")
        %span.right
          = render 'devise/menu/registration_items'
          = render 'devise/menu/login_items'

      #content
        %p.notice= notice
        %p.alert= alert
        = yield

      #footer
        Copyright © 2010 %{RIGHTHOLDER}
